@using DAL.Models
@model List<Message>


<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="scroll-chat">
                <div id="chatroom">
                    @foreach (var msg in Model)
                    {
                        string sender = msg.DateTime + " " + msg.User.Name + ": ";
                        <p>
                            <b>@sender</b>
                            @msg.Text
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<br/>

<div class="col-md-4 offset-md-4 button-to-bot">
    <div class="message-input">
        <div id="inputForm">
            <input type="text" id="message" placeholder="Type a message" />
            <input type="button" id="sendBtn" value="Send" />
        </div>
    </div>
</div>


    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script>
    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl("/chat")
        .build();

    hubConnection.on("Receive", function (message, userName, meetingRoomId) {

        let time = new Date(message.datetime);

        let userNameElem = document.createElement("b");
        userNameElem.appendChild(document.createTextNode(time.toLocaleString().replace(',', '') + " " + userName + ": "));

        let elem = document.createElement("p");
        elem.appendChild(userNameElem);
        elem.appendChild(document.createTextNode(message.text));

        document.getElementById("chatroom").appendChild(elem);
    });

    document.getElementById("sendBtn").addEventListener("click", function (e) {
        let text = document.getElementById("message").value;
        hubConnection.invoke("Send", { "text": text }, @ViewBag.MeetingRoomId);
    });

        hubConnection.start().then(function () {
            hubConnection.invoke("SetGroup", @ViewBag.MeetingRoomId);
        });
    </script>
