@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="text-center">
                <h1 class="display-4">ILNZU</h1>
            </div>

        </div>
    </div>
    <div class="col-sm">
        <form asp-action="CreateMeeting" asp-controller="Home">
            <input  type="text" name="Title" placeholder="New chat title" />
            <input type="submit"  value="Create" />
        </form>
    </div>
    <div class="chat-frame">
        <div class="d-flex flex-column">
            <h2>Chat list</h2>
            @foreach (var tuple in ViewBag.MeetingRooms)
            {
            <p>
                <div class="p-2">
                    <a href=@("https://localhost:44391/meeting/room/" + tuple.Item1.ToString())>@tuple.Item2</a>
                </div>

                <form asp-action="CreateInvite" asp-controller="Home">
                    <input type="text" name="email" placeholder="User email" />
                    <input type="hidden" name="meetingId" value=@tuple.Item1.ToString()>
                    <input type="submit" value="Invite" />
                </form>

                <form asp-action="DeleteMeeting" asp-controller="Home">
                    <input type="hidden" name="meetingId" value=@tuple.Item1.ToString()>
                    <input type="submit" value="Delete" />
                </form>
            </p>
            }
        </div>
    </div>
</div>
