@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="text-center">
                <h1 class="display-4">ILNZU</h1>
            </div>

        </div>
    </div>
    <div class="col-sm">
        <input type="text" placeholder="New chat title" />
        <input type="button" value="Create" />
    </div>
    <div class="chat-frame">
        <div class="d-flex flex-column">
            <h2>Chat list</h2>
            @foreach (var tuple in ViewBag.MeetingRooms)
            {
                <p>
                    <div class="p-2">
                        <a href=@("https://localhost:44391/meeting/room/" + tuple.Item1.ToString())>@tuple.Item2</a>
                    </div>
                </p>
            }
        </div>
    </div>
</div>
