@{
    ViewData["Title"] = "My invites";
}

<div class="container">
    <div class="chat-frame">
        <div class="d-flex flex-column">
            <h2>Invites list</h2>
            @foreach (var list in ViewBag.Invites)
            {
                <p>
                    <div class="p-2">
                        <p>@list</p>
                    </div>

                </p>
            }
        </div>
    </div>
</div>