@{
    ViewData["Title"] = "My invites";
}

<div class="container">
    <div class="chat-frame">
        <div class="d-flex flex-column">
            <h2>Invite list</h2>
            @foreach (var list in ViewBag.Invites)
            {
                <p>
                    <div class="p-2">
                        <p><b>@list.Item2.Item2</b> <b>Meeting name:</b> @list.Item2.Item1</p>
                    </div>
                    
                    <form asp-action="AcceptInvite" asp-controller="Home">
                        <input type="hidden" name="inviteId" value=@list.Item1>
                        <input type="submit" value="Accept" />
                    </form>

                    <form asp-action="RemoveInvite" asp-controller="Home">
                        <input type="hidden" name="inviteId" value=@list.Item1>
                        <input type="submit" value="Decline" />
                    </form>

                </p>
            }
        </div>
    </div>
</div>